

  
 body {
    content: "";
    
    background: radial-gradient(circle, black, white);
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }


ul{
    color:rgb(127, 34, 139)
}


td {
    color:rgb(109, 47, 255);
    
}


.stilo{
  color:royalblue
}

.stilo2{
  color: red;
}


.msgCriptoByDom , h2{
  background-color: black;
  color:greenyellow

} 


.otro{
  color: blue;
}


