@charset "UTF-8";
/*donde aparecerán los resets, las variables, los mixins*/
/*Variables*/
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);
.no-gutters {
  padding-left: 0 !important;
  padding-right: 0!important; }

a:link, a:visited, a:active {
  text-decoration: none !important; }

 body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif !important; 
  content: "";
  background-color: #333;
  color:#fff;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


.container{
margin-top: 70px;
}
ul{
  color:rgb(127, 34, 139)
}


td {
  color:#fff  
}


.stilo{
color:royalblue
}

.stilo2{
color: red;
}

#msgCriptoByDom h2{
  background:white;
  color:darkgreen;
  width: 100%;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 12px;
}


h2{
  background-color: black;
  color: yellow;
}



.otro{
color: blue;
}


.more-operation{
  color: black;
  background-color: yellow;
  margin-bottom: 5px;
  margin-left: 20px;
}

.containerFormulario img {
  margin-top: 150px;
}
img {
  max-width: 100%;
}

#spinner {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.limpiar{
  color: black;
  background-color: rgb(60, 255, 0);
  margin-bottom: 5px;
  margin-left: 80px;
}